@font-face {
    src: url("/src/assets/fonts/VT323-Regular.ttf");
    font-family: 'custom';
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    overflow: hidden;
    background-color: black;
    font-family: 'custom', sans-serif;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.webgl.blur-in {
    opacity: unset;
    filter: blur(0px);
    animation: 2s scene-blur-in linear;
}

.webgl.blurred {
    opacity: 0;
    filter: blur(32px);
}

.webgl.blur-out {
    opacity: 1;
    filter: blur(32px);
    animation: 2s scene-blur-out linear;
}

.webgl.pointer {
    cursor: pointer;
}

@keyframes scene-blur-in {
    from {
        opacity: 1;
        background-color: unset;
        filter: blur(0px);
    }

    to {
        opacity: 0;
        background-color: black;
        filter: blur(32px);
    }
}

@keyframes scene-blur-out {
    from {
        opacity: 0;
        background-color: unset;
        filter: blur(32px);
    }

    to {
        opacity: 1;
        background-color: black;
        filter: blur(0px);
    }
}

.hello-message {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    font-size: 72px;
    color: #ffffff;
    opacity: 0;
    cursor: default;
    user-select: none;
    transition: opacity 1s ease-in;
}

.hello-message.fade-in {
    opacity: 1;
    z-index: 2;
}

.hello-message.fade-out {
    opacity: 0;
}

.hello-message_clickable:hover {
    user-select: none;
    cursor: pointer;
}

.menu-item {
    color: #ffffff;
    letter-spacing: 2px;
    font-size: 32px;
}

@media screen and (max-width: 1400px) {
    .menu-item {
        font-size: 28px;
    }
}

@media screen and (max-width: 1024px) {
    .menu-item {
        font-size: 24px;
    }
}

@media screen and (max-width: 768px) {
    .menu-item {
        font-size: 16px;
    }
}